

.capaoscura
{
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;    
    width: 100%;
    
    /*    height: 100%;    */
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    align-items: center;   
    background-color: rgba(47, 79, 79, .3);
    
    
}



 .capaclara
 {
     display: block;
     border: 1px solid;
     background-color: white;

    padding-left: 30px;
    padding-right: 30px;
    
    
 }

