


<div class ="table-responsive-vertical">
    
    <table class="tableB" id="documento-tabla">
      <thead>
        <tr>

            <th class="ca-10">fecha</th>
            <th class="ca-10">nro expdiente</th>
            <th class="ca-15">procedencia</th>
            <th>referencia</th>

        </tr>
      </thead>

      <tbody id="documento-tb">

      </tbody>

      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
    
</div>
    
    <hr class="e20"/>

    <div id="documento_paginacion" class="pagination" >                            
    </div>


    <article id="documento_acciones_lista">
        <pre></pre>
    </article>    


        
        
