


<div class ="table-responsive-vertical">
    
    <table class="tableB" id="documento_salida-tabla">
      <thead>
        <tr>

            <th class="ca-10">fecha entrada</th>
            <th class="ca-10">nro expdiente</th>
            <th class="ca-10">fecha salida</th>
            <th class="ca-10">numero memo</th>
            
            <th>procedencia</th>            
            <th>destino</th>
            <th>archivado</th>
            
        </tr>
      </thead>

      <tbody id="documento_salida-tb">

      </tbody>

      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
    
</div>
    
    <hr class="e20"/>

    <div id="documento_salida_paginacion" class="pagination" >                            
    </div>


    <article id="documento_salida_acciones_lista">
        <pre></pre>
    </article>    


        
        
